<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/recursos/modal.js"></script>
    <title>Document</title>
</head>

<body class="body-flex">
        <nav class="navbar">
            <a onclick="openBurguer()">
                <img class="icon icon-burguer" src="/img/hamburguer_icon.png" alt="">
            </a>
            <a href="/index">
                <img class="icon icon-sug " src="/img/sugflora-logo.png" alt="">
            </a>
            <a class="link-nav" href="#">
                <button class="btn-nav width-content">Projetos</button>
            </a>
            <a class="link-nav" href="#">
                <button class="btn-nav width-content">Campos</button>
            </a>
            <a class="link-nav" href="#">
                <button class="btn-nav width-content">Coletas</button>
            </a>
            <a class="link-nav" href="#">
                <button class="btn-nav width-content">Espécies</button>
            </a>
            <a class="link-nav" href="/usuarios">
                <button class="btn-nav width-content">Usuarios</button>
            </a>

            <div class="rigth-nav">
                <a href="/login" class="self-align-rigth">
                    <button class="btn-nav  danger width-content">Sair</button>
                </a>

            </div>

        </nav>
        



        <div class="container-fillW flex jc ac">
            <div class="container-fill flex row bg-white">
                
                <div class="container-width-mid flex jc ac col margin-left-1" action="/login" method="post">
                    

                    <div class="tabela">
                        <label class="titulo-tabela"></label>
                        <div class="cabeçalho">
                            <label class="item-tabela item-cabeçalho">Usuário</label>
                            <label class="item-tabela item-cabeçalho">Perfil</label>
                            <label class="item-tabela item-cabeçalho">Status</label>
                            <label class="item-tabela item-cabeçalho">Projetos</label>
                            <label class="item-tabela item-cabeçalho">Campos</label>
                            <label class="item-tabela item-cabeçalho">Coletas</label>
                            <label class="item-tabela item-cabeçalho">Opções</label>
                        </div>

                        <div class="corpo-tabela">
                            <div class="linha-tabela">
                                <label class="item-tabela item-linha">Admin</label>
                                <label class="item-tabela item-linha">ROLE_ADMIN</label>
                                <label class="item-tabela item-linha">Ativo</label>
                                <label class="item-tabela item-linha">4</label>
                                <label class="item-tabela item-linha">10</label>
                                <label class="item-tabela item-linha">100</label>
                                <div class="opçoes-tabela">
                                    <a class="btn-min">Deletar</a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div> 
                    
                
        
            </div>
        
        
        </div>

</body>
</html>