<nav th:fragment="admin-navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index"><img class="icon icon-sug " src="/img/sugflora-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campos</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Novo Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sair">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>