.body-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: grey;
}

.bg-green {
    background-color: #155b36;
}

.container-fillW {
    width: 100vw;
    height: 98vh;
    overflow: hidden;
}

.video-bg {
    animation-play-state: running;
    position: absolute;
}

.border-10rem {
    border-radius: 10rem;
}

.container-fill {
    width: 98%;
    height: 98%;
    overflow: hidden;
    background-color: #f8ffcf;
}

.flex {
    display: flex;
}

.jc {
    justify-content: center;
}

.txt-center {
    text-align: center;
}

.ac {
    align-items: center;
}

.self-align-rigth {
    align-self: flex-end;
}

.rigth-nav {
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.row {
    flex-direction: row;
}



.col {
    flex-direction: column;
}

.img-bg-left-mid {
    height: auto;
    clip-path: polygon(0 0, 85% 0, 55% 100%, 0% 100%, 0 50%);
    object-fit: cover;
    margin-right: -400px;
}

.container-width-mid {
    width: -webkit-fill-available;
}

.logo {
    width: 15rem;

}

.title {
    margin-top: -30px;
}

.input-text, .input-password {
    border-radius: 1rem;
    border-style: unset;
    margin: 3px;
    height: 30px;
    width: 60%;
    padding-left: 10px;
    max-width: 350px;
}

.input-modal {
    width: 20em;
    border-style: double;
}

.btn {
    border-radius: 1rem;
    border-style: unset;
    margin: 10px 3px;
    height: 30px;
    width: 60%;
    min-width: 60px;
    padding-left: 5px;
    max-width: 350px;
}

.btn-nav {
    border-radius: 1rem;
    border-style: unset;
    margin: 10px 3px;
    height: 30px;
    width: 60%;
    min-width: 60px;
    padding-left: 10px 0px;
    max-width: 350px;
    background-color: cadetblue;
    color: white;
    transition: all 0.5s;
}

.width-content {
    width: auto;
}

.success {
    background-color: #25995c;
    color: white;
    transition: all 0.5s;
}

.danger {
    background-color: #992525;
    color: white;
    transition: all 0.5s;
}

.attent {
    background-color: #e1ff3a;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.margin-left-1 {
    margin-left: 10px;
}

.success:hover, .danger:hover{
    transform: scale(1.05);
    background-color: cadetblue;
    cursor: pointer;
}

.btn-nav:hover  {
    transform: scale(1.05);
    background-color: rgb(67, 115, 116);
    border-bottom-style: outset;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.05);
    cursor: pointer;
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% { transform: translateX(0) rotate(0deg);}
    25% { 
        transform: translateX(-2px) rotate(-5deg)
    }
    50% { transform: translateX(2px) rotate(5deg)}
    75% { transform: translateX(-2px) rotate(-5deg) }
    100% { transform: translateX(0) rotate(5deg) }
  }

.icon {
    width: 2rem;
    margin-left: 5px;
}

.link-alert {
    color: limegreen;
    cursor: pointer;
    transition: all 0.2s;
}

.link-alert:hover {
    color: #25995c;
    transform: scale(1.05);
}

.background-modal {
    width: 100vw;
    height: 100vh;
    transition: all 0.5s;
    display: flex;
}

.modal-box {
    width: auto;
    height: auto;
    border-radius: 1rem;
    max-width: min-content;
}

.btn:active {
    transform: scale(0.90);
    transform: translate(0, 2px);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    width: 99vw;
    height: 6vh;
    background-color: cadetblue;
    align-items: center;
    padding: 5px;
    gap: 5px;
    position: static;
}


@media screen and (min-width: 490px) {
    .icon-burguer {
        display: none;
    }

}
@media screen and (max-width: 491px) {
    .link-nav {
        display: none;
    }

    .icon-sug {
        display: none;
    }


}


@media screen and (max-width: 1150px) {
    
    .img-bg-left-mid {
        display: none;
    }

    .body-img {
        background-image: url('/img/bg-login.png');
        background-size: cover; /* Faz com que a imagem cubra todo o espaço da div */
        background-position: center; /* Centraliza a imagem na div */
    }
    
    .container-fill {
        background-color: rgba(250, 235, 215, 0);
    }

    .logo {
        list-style: circle;
        width: 15rem;
        background-image: radial-gradient(circle at 118px 127px, white, transparent 110px);
    
    }
    
}