<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div style="display: flex;flex-direction: column;align-content: space-around;justify-content: space-around;flex-wrap: nowrap;align-items: center;">

        <form action="/login" method="post">
            
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <button type="submit">Logar</button>
            
        </form>
        
    </div>

    <a href="/" target="_self" rel="noopener noreferrer">
        <button type="submit">Voltar</button>
    </a>
</body>
</html>