<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/recursos/modal.js"></script>
    <script src="/js/recuperarSenha.js"></script>
    <title>SUG-Flora Login</title>
</head>
<body class="body-flex bg-green body-img">

<div class="container-fillW flex jc ac border-10rem">
    <div class="container-fill flex row border-10rem">

        <img class="img-bg-left-mid" src="/img/bg-login.png" alt="">

        <form class="container-width-mid flex jc ac col margin-left-1" action="/login" method="post">
            <img class="logo" src="/img/sugflora-logo.png" alt="">
            
            <h1 class="title" for="">Bem vindo</h1>

            <input class="input-text" type="email" name="username" id="username" placeholder="Insira seu email">
            <input class="input-password" type="password" name="password" id="password" placeholder="Insira sua senha">
            <button class="btn success" type="submit">Logar</button>
            
            <a class="link-alert" onclick="RecuperarSenha()">
                Esqueci minha senha :(
            </a>
        </form>

    </div>


</div>



</body>
</html>